.hero-text {
  text-align: center;
  padding: 50px 0px; /* Added padding to the left and right sides */
}

.hero-text h1 {
  color: #fff;; /* Blood red color */
  font-family: 'Fidelity Sans', sans-serif; /* Font family fidelity-sans */
  font-size: 48px; /* Adjust font size as needed */
  margin: auto;
}

p{
color: #fff;
}

body {
background-color: #000; 
}

.body-text {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.body-text ul {
  list-style-type: none;
  padding: 0;
  color: #fff
}

.body-text ul li {
  font-size: 14px; 
  margin-bottom: 5px;
}

.body-text ul li svg {
  vertical-align: middle;
  margin-right: 5px;
}

.main {
  margin-top: 5%;
}

  

