/* Header.css */

.header {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 5%;
  }
  
  .header-link {
    display: flex;
    padding-right: 5%;
  }
  
  .header-link a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .header-link a:hover {
    text-decoration: underline;
  }
  